<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Czy to już hejt?</title>

    <%- include('partials/styles'); %>

  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      
      <%- include('partials/nav'); %>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section id="home" class="py-8 odd-background">
        <div class="container">
          <div class="row flex-center">
            <div class="col-md-6 col-lg-4 text-center mb-6 mb-md-0 order-1"><img class="shadow-lg" src="img/main.png" width="500" alt="Ilustracja z kobetą, telefonem w ręce i robotem" style="border-radius:3rem;" /></div>
            <div class="col-md-6 text-center text-md-start mb-6 offset-0">
              <h6 class="fw-bold fs-3 fs-lg-5 lh-sm">Przerwij spiralę hejtu</h6>
              <p class="my-4 fs-1 pe-xl-8">
                Przemoc rodzi przemoc, hejt rodzi hejt.<br />
                Naucz się znami rozpoznawać komunikaty zawierające język przemocy i <strong>zamień je na pozytywne!</strong></p>
              <p class="my-4 fs-1 pe-xl-8">
                Wypełnij test, sprawdź czy rozpoznajesz sytuacje kiedy spotykasz się z hejtem lub formuujesz komunikaty przemocowe.
              </p>
              <p class="mb-5 fs-1 fw-medium"></p><a data-bs-toggle="modal" data-bs-target="#quizModal" class="btn hover-top btn-collab" href="#!"><i class="fas me-2"></i>Sprawdź swoją wiedzę</a>
            </div>
          </div>

        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section id="teens" class="py-6">
        <div class="container">
          <div class="row flex-center">
            <div class="col-md-6 col-lg-4 text-center mb-6 mb-md-0 order-0 order-md-1"><img class="shadow-collab" src="img/violence.png" width="400" alt="Ilustracja ze smutnym robotem" style="border-radius:3rem;" /></div>
            <div class="col-md-6 text-center text-md-start mb-6 offset-lg-1">
              <h6 class="fs-0 text-uppercase fw-bold text-primary">Dla dzieci i młodzieży</h6>
              <h6 class="fw-bold fs-3 fs-lg-5 lh-sm">Spotkałaś/eś się z cyberprzemocą w internecie?</h6>
              <p class="my-4 fs-1 pe-xl-8">Przykłady cybeerprzemocy to wyzywanie, ośmieszanie, poniżanie, szantażowanie, rozpowszechnianie kompromitujących materiałów na Twój temat lub Twoich znajomych.</p>
              <p class="my-4 fs-1 pe-xl-8">Jeśli jest Ci z tym trudno, uzyskaj pomoc. Podziel się problemem z rodzicami lub zadzwoń na bezpieczną infolinię pomocy.</p><a class="btn hover-top btn-collab" href="#" role="button">Telefony zaufania</a>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->

  <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section id="parents" class="py-6 odd-background">
        <div class="container">
          <div class="row flex-center">
            <div class="col-md-6 col-lg-4 text-center mb-6 mb-md-0 order-0 order-md-1"><img class="shadow-collab" src="img/help.png" width="400" alt="Ilustracja z dorosłą osobą i robotem" style="border-radius:3rem;" /></div>
            <div class="col-md-6 text-center text-md-start mb-6 offset-lg-1">
              <h6 class="fs-0 text-uppercase fw-bold text-primary">Dla rodziców</h6>
              <h6 class="fw-bold fs-3 fs-lg-5 lh-sm">Jak możesz pomóc swojemu dziecku?</h6>
              <p class="my-4 fs-1 pe-xl-8">Edukacja szkolna nie przygotowuje do funkcjonowania w świecie opartym na nowoczesnych technologiach. Akty cyberprzemocy mają najczęściej miejsce w mediach społecznościowych, w komunikatorach lub w grach online, czyli tam, gdzie dzieci i młodzież spędzają najwięcej czasu.</p>
              <p class="my-4 fs-1 pe-xl-8"></p>
              <p class="my-4 fs-1 pe-xl-8">
              Poznaj zjawisko hejtu w sieci. Ucz swoje dziecko komunikatów bez przemocy.</p>
              </p><a class="btn hover-top btn-collab" href="#" role="button">Porozumiene bez przemocy</a>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section id="schools" class="py-6">
        <div class="container">
          <div class="row flex-center">
            <div class="col-md-6 col-lg-4 text-center mb-6 mb-md-0 order-0 order-md-1"><img class="shadow-collab" src="img/join.png" width="400" alt="Ilustracja z osobą niepełnosprawną z telefonem z ręce" style="border-radius:3rem;" /></div>
            <div class="col-md-6 text-center text-md-start mb-6 offset-lg-1">
              <h6 class="fs-0 text-uppercase fw-bold text-primary">Dla szkół i przedszkoli</h6>
              <h6 class="fw-bold fs-3 fs-lg-5 lh-sm">Dołącz do projektu</h6>
              <p class="my-4 fs-1 pe-xl-8">Pracujesz w przedszkolu? Jesteś nauczycielką/elem edukacji wczesnoszkolnej? Jesteś rodzicem zaangażowanym w prawidłowy rozwój swojego dziecka?</p>
              <p class="my-4 fs-1 pe-xl-8">Wprowadź program do swojej placówki.</p>
              <a class="btn hover-top btn-collab" href="#" role="button">Kontakt</a>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section id="cooperation" class="py-6 odd-background">
        <div class="container">
          <div class="row flex-center">
            <div class="col-md-6 col-lg-4 text-center mb-6 mb-md-0 order-0 order-md-1"><img class="shadow-collab" src="img/cooperation.png" width="300" alt="Ilustracja z robotem chętnym do pomocy" style="border-radius:3rem;" /></div>
            <div class="col-md-6 text-center text-md-start mb-6 offset-lg-1">
              <h6 class="fs-0 text-uppercase fw-bold text-primary">Współraca</h6>
              <h6 class="fw-bold fs-3 fs-lg-5 lh-sm">Wpieraj projekt</h6>
              <p class="my-4 fs-1 pe-xl-8">Poszukiwani influencerzy i wydawnictwa książek i materiałów edukacyjnych dla dzieci</p><a class="btn hover-top btn-collab" href="#" role="button">Dołącz do akcji</a>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="" id="faq">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center mb-3">
              <h6 class="fw-bold fs-4 display-3 lh-sm mb-5">Misja</h6>
            </div>
          </div>
          <div class="row flex-center">
            <div class="col-lg-9">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item border-top">
                  <h2 class="accordion-header" id="heading1"><button class="accordion-button px-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1"><span class="mb-0 fw-bold text-start fs-1 text-1000">Jaki problem rozwiązujemy i dlaczego?</span></button></h2>
                  <div class="accordion-collapse collapse show" id="collapse1" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 px-2">Rozwiązujemy problem braku świadomości o skali cyberprzemocy, kttóra odbija się negatywnie na zdrowiu psychicznym użytkowników sieci. <br />
                    Przemoc rodzi przemoc, hejt rodzi hejt. Przerywamy spiralę nienawiści zwracając uwagę na krzywdzące czyny i komunikaty,  ucząc pozytywnego języka komunikacji - języka wyrażania uczuć i potrzeb.</div>
                  </div>
                </div>
                <div class="accordion-item border-top">
                  <h2 class="accordion-header" id="heading2"><button class="accordion-button px-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2"><span class="mb-0 fw-bold text-start fs-1 text-1000">Kto jest grupą docelową kampanii?</span></button></h2>
                  <div class="accordion-collapse collapse" id="collapse2" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 px-2">Projekt skierowany jest do młodych ludzi i ich rodziców.</div>
                  </div>
                </div>
                <div class="accordion-item border-top">
                  <h2 class="accordion-header" id="heading3"><button class="accordion-button px-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3"><span class="mb-0 fw-bold text-start fs-1 text-1000">Jak zmierzymy wpływy naszej akcji?</span></button></h2>
                  <div class="accordion-collapse collapse" id="collapse3" aria-labelledby="heading3" data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 px-2">Przeprowadzimy okresowe ankiety i zbierzemy feeback z placówek z nami współpracujących. Sporządzimy raport rozgłosu w mediach społecznościowych.</div>
                  </div>
                </div>
                <div class="accordion-item border-top">
                  <h2 class="accordion-header" id="heading4"><button class="accordion-button px-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4"><span class="mb-0 fw-bold text-start fs-1 text-1000">Potencjał rozwojowy</span></button></h2>
                  <div class="accordion-collapse collapse" id="collapse4" aria-labelledby="heading4" data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 px-2">Projekt może stać się kampanią o zasięgu ogólnokrajowym. Zaangażujemy w akcję placówki szkolne i wczesnoszkolne, urzędy miasta, influencerów, elektronicze dzienniczki uczniów.<br />
                    </div>
                  </div>
                </div>
                <div class="accordion-item border-top">
                  <h2 class="accordion-header" id="heading5"><button class="accordion-button px-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapse5"><span class="mb-0 fw-bold text-start fs-1 text-1000">Innowacyjność projektu</span></button></h2>
                  <div class="accordion-collapse collapse" id="collapse5" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 px-2">Projekt angażuje użytkownika wchodzącego na stronę dzięki za pomocą interaktywnego narzędzia. Projekt zwraca uwagę na formułowane przez nas komunikaty w relacjach międzyludzkich - w ten sposób edukuje, zwiększa śweiadomość i przeciwdziała zjawisku cyberprzemocy.</div>
                  </div>
                </div>
                <div class="accordion-item border-top">
                  <h2 class="accordion-header" id="heading6"><button class="accordion-button px-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapse6"><span class="mb-0 fw-bold text-start fs-1 text-1000">Uwzględnienie potrzeb różnorodnych użytkowników (accesibility i inclusion)</span></button></h2>
                  <div class="accordion-collapse collapse" id="collapse6" aria-labelledby="heading5" data-bs-parent="#accordionExample">
                    <div class="accordion-body pt-0 px-2">Aplikacja jest przyjazna mobilnym użytkownikom internetu. Czytniki ekranu radzą sobie z nią bardzo dobrze, a kolory są dobrze dobrane kontrastowo.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section><!-- <section> close ============================-->
      <!-- ============================================-->

      <%- include('partials/modal'); %>

      <%- include('partials/footer'); %>

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

      <%- include('partials/footerscripts'); %>
  
  </body>

</html>